@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --screen-width-80: 80vw;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F8FAFB;
  }
}

@font-face {
  font-family: "NanumGothic";
  src: url("/fonts/NanumGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumGothic";
  src: url("/fonts/NanumGothicBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "NanumGothic", sans-serif;
}
